* {
    box-sizing: border-box;
}

.container{
    width: 100%; 
}

.row{
    overflow: hidden;
}

.row .row{
    margin: 0 -12px;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
    padding: 5px 12px;
}


.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%;   }

.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%;    }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%;   }

.pull-1{ margin-left: 8.33%; }
.pull-2{ margin-left: 16.66%; }
.pull-3{ margin-left: 25%;    }
.pull-4{ margin-left: 33.33%; }
.pull-5{ margin-left: 41.66%; }
.pull-6{ margin-left: 50%;   }

.pull-7{ margin-left: 58.33%; }
.pull-8{ margin-left: 66.66%; }
.pull-9{ margin-left: 75%;    }
.pull-10{ margin-left: 83.33%; }
.pull-11{ margin-left: 91.66%; }
.pull-12{ margin-left: 100%;   }


@media (max-width: 768px) {
    .col-xs-1{ width: 8.33%; }
    .col-xs-2{ width: 16.66%; }
    .col-xs-3{ width: 25%;    }
    .col-xs-4{ width: 33.33%; }
    .col-xs-5{ width: 41.66%; }
    .col-xs-6{ width: 50%;   }

    .col-xs-7{ width: 58.33%; }
    .col-xs-8{ width: 66.66%; }
    .col-xs-9{ width: 75%;    }
    .col-xs-10{ width: 83.33%; }
    .col-xs-11{ width: 91.66%; }
    .col-xs-12{ width: 100%;   }

    .pull-xs-1{ margin-left: 8.33%; }
    .pull-xs-2{ margin-left: 16.66%; }
    .pull-xs-3{ margin-left: 25%;    }
    .pull-xs-4{ margin-left: 33.33%; }
    .pull-xs-5{ margin-left: 41.66%; }
    .pull-xs-6{ margin-left: 50%;   }

    .pull-xs-7{ margin-left: 58.33%; }
    .pull-xs-8{ margin-left: 66.66%; }
    .pull-xs-9{ margin-left: 75%;    }
    .pull-xs-10{ margin-left: 83.33%; }
    .pull-xs-11{ margin-left: 91.66%; }
    .pull-xs-12{ margin-left: 100%;   }

    .xs-hide{ display: none; }

}

@media (min-width: 768px) and (max-width: 992px) {
    .col-sm-1{ width: 8.33%; }
    .col-sm-2{ width: 16.66%; }
    .col-sm-3{ width: 25%;    }
    .col-sm-4{ width: 33.33%; }
    .col-sm-5{ width: 41.66%; }
    .col-sm-6{ width: 50%;   }

    .col-sm-7{ width: 58.33%; }
    .col-sm-8{ width: 66.66%; }
    .col-sm-9{ width: 75%;    }
    .col-sm-10{ width: 83.33%; }
    .col-sm-11{ width: 91.66%; }
    .col-sm-12{ width: 100%;   }

    .pull-sm-1{ margin-left: 8.33%; }
    .pull-sm-2{ margin-left: 16.66%; }
    .pull-sm-3{ margin-left: 25%;    }
    .pull-sm-4{ margin-left: 33.33%; }
    .pull-sm-5{ margin-left: 41.66%; }
    .pull-sm-6{ margin-left: 50%;   }

    .pull-sm-7{ margin-left: 58.33%; }
    .pull-sm-8{ margin-left: 66.66%; }
    .pull-sm-9{ margin-left: 75%;    }
    .pull-sm-10{ margin-left: 83.33%; }
    .pull-sm-11{ margin-left: 91.66%; }
    .pull-sm-12{ margin-left: 100%;   }

    .sm-hide{ display: none; }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-1{ width: 8.33%; }
    .col-md-2{ width: 16.66%; }
    .col-md-3{ width: 25%;    }
    .col-md-4{ width: 33.33%; }
    .col-md-5{ width: 41.66%; }
    .col-md-6{ width: 50%;   }

    .col-md-7{ width: 58.33%; }
    .col-md-8{ width: 66.66%; }
    .col-md-9{ width: 75%;    }
    .col-md-10{ width: 83.33%; }
    .col-md-11{ width: 91.66%; }
    .col-md-12{ width: 100%;   }

    .pull-md-1{ margin-left: 8.33%; }
    .pull-md-2{ margin-left: 16.66%; }
    .pull-md-3{ margin-left: 25%;    }
    .pull-md-4{ margin-left: 33.33%; }
    .pull-md-5{ margin-left: 41.66%; }
    .pull-md-6{ margin-left: 50%;   }

    .pull-md-7{ margin-left: 58.33%; }
    .pull-md-8{ margin-left: 66.66%; }
    .pull-md-9{ margin-left: 75%;    }
    .pull-md-10{ margin-left: 83.33%; }
    .pull-md-11{ margin-left: 91.66%; }
    .pull-md-12{ margin-left: 100%;   }

    .md-hide{ display: none; }

}

@media (min-width: 1200px) {

    .col-lg-1{ width: 8.33%; }
    .col-lg-2{ width: 16.66%; }
    .col-lg-3{ width: 25%;    }
    .col-lg-4{ width: 33.33%; }
    .col-lg-5{ width: 41.66%; }
    .col-lg-6{ width: 50%;   }

    .col-lg-7{ width: 58.33%; }
    .col-lg-8{ width: 66.66%; }
    .col-lg-9{ width: 75%;    }
    .col-lg-10{ width: 83.33%; }
    .col-lg-11{ width: 91.66%; }
    .col-lg-12{ width: 100%;   }


    .pull-lg-1{ margin-left: 8.33%; }
    .pull-lg-2{ margin-left: 16.66%; }
    .pull-lg-3{ margin-left: 25%;    }
    .pull-lg-4{ margin-left: 33.33%; }
    .pull-lg-5{ margin-left: 41.66%; }
    .pull-lg-6{ margin-left: 50%;   }

    .pull-lg-7{ margin-left: 58.33%; }
    .pull-lg-8{ margin-left: 66.66%; }
    .pull-lg-9{ margin-left: 75%;    }
    .pull-lg-10{ margin-left: 83.33%; }
    .pull-lg-11{ margin-left: 91.66%; }
    .pull-lg-12{ margin-left: 100%;   }

    .lg-hide{ display: none; }
}
